---
import { getLangFromUrl, useTranslations } from "@/i18n/utils"
import {
  Card,
  CardContent,
  CardDescription,
  CardHeader,
  CardTitle,
} from "./ui/card"
import DateSpan from "./DateSpan.astro"

const {
  startDate,
  endDate,
  isAllDay,
  locationName,
  locationAddress,
  title,
  speaker,
  children,
  slug,
  ...props
} = Astro.props
const lang = getLangFromUrl(Astro.url)
const t = useTranslations(lang)
---

<Card>
  <CardHeader id={slug}>
    <CardTitle>{title}</CardTitle>
    <CardDescription>
      <div>
        <DateSpan startDate={startDate} endDate={endDate} isAllDay={isAllDay} /><br />

        {
          locationName && (
            <div>
              {locationName} {locationAddress && `- ${locationAddress}`}
            </div>
          )
        }
      </div>
    </CardDescription>
  </CardHeader>
  <CardContent>
    {
      speaker && (
        <div>
          {t("event.speaker")}: {speaker}
        </div>
      )
    }
    <slot />
  </CardContent>
</Card>
